# Node modules
node_modules/
dist/
build/
.cache/
tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE Files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jest Coverage
coverage/

# Husky
.husky/_/

# Lint & Formatting
.eslintcache
.prettierignore

# OS Files
.DS_Store
Thumbs.db
